body {
    background-color: black;
    max-width: 2000px;
    margin: auto;
    font-size: 1.1rem;
}

.background {
    background-image: url(../images/epoxy-art-mobile.jpeg);
    min-height: 500px;
    background-size: cover;
    background-color: grey;
    margin: auto;
}

.jumbotron {
    border-radius: 0%;
    object-fit: contain;
}

.title-font {
    font-family: "Russo One", sans-serif;
    font-size: 12vw;
}

.navbar {
    background-color: slategrey;
    color: black;
    font-size: 1.5rem;
    width: 100%;
}

.header {
    display: flex;
    margin-top: 10%;
    margin-bottom: 2%;
    height: 20%;
    background-color: rgba(50, 50, 50, 0.75);
    width: 100%;
    object-fit: contain;
}

.header-fade {
    display: block;
    position: absolute;
    padding: 40% 10%;
    height: 150px;
    width: 100%;
    z-index: 0;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)); */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
    );
    /* color: rgb(11, 67, 76); */
    color: white;
    font-size: 1.5rem;
    bottom: 0px !important;
}

#logo {
    margin: auto;
}

#phone {
    position: relative;
    height: auto;
    width: auto;
    margin: 10px 0px;
    z-index: 1;
}

#email {
    position: relative;
    height: auto;
    width: auto;
    z-index: 1;
}

#cost-estimate {
    font-size: 1.5rem;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#estimate {
    width: fit-content;
    word-wrap: none;
}

i {
    margin-right: 10px;
}

.card {
    border-radius: 20px;
    max-height: 800px;
}

.card-img-top {
    /* object-fit: contain; */
    max-height: 300px;
    background-color: black;
    border-radius: 0%;
}

.rnd-top-corners {
    border-radius: 20px 20px 0 0 !important;
}

.card-body {
    border-radius: 0 0 20px 20px;
    object-fit: contain;
}

.custom-cards {
    width: 90%;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    font-size: 1rem;
}

#why-us {
    max-height: 830px;
}

.carousel-img {
    max-width: 100%;
    height: 600px;
    object-fit: contain;
    margin: auto;
}

.fa-check {
    color: #17a2b8;
    margin-right: 10px;
}

#about-cards {
    background-image: url(../images/white-background-with-blue-tech-hexagon_1017-19366.jpg);
    background-size: cover;

    padding-bottom: 70px;
}

/* #contact-form {
    position: relative;
    color: #fff;
    font-family: sans-serif;
    padding: 20px;
    max-width: 500px;
    box-shadow: 15px 15px 15px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    background-color: rgba($color: #ffff, $alpha: 0.3);
    backdrop-filter: blur(5px);
    margin-bottom: 20px;
} */

input,
textarea {
    width: 100%;
    border: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#top-input {
    border-radius: 1.5rem 1.5rem 0 0;
}

textarea {
    height: 130px;
    resize: vertical;
}

#send-button {
    width: 100%;
    padding: 10px;
    border: 0;
    cursor: pointer;
    background: #17a2b8;
    font-weight: bold;
    color: #fff;
    font-size: 18px;

    text-transform: uppercase;
    border-radius: 0 0 1.5rem 1.5rem;
}

@media (min-width: 500px) {
    .title-description {
        display: none;
    }
}

@media screen and (max-height: 1000px) and (min-width: 768px) {
    .img-fluid {
        max-width: 75%;
    }
    .header {
        margin-top: 5%;
    }
}

@media (min-width: 768px) {
    .title-font {
        font-size: 7vw;
    }

    .background {
        background-image: url(../images/epoxy-art-bright-long.jpeg);
        min-height: 900px;
    }
    .custom-cards {
        width: 70%;
        font-size: 1rem;
    }
    #why-us {
        max-height: fit-content;
    }
}

@media (min-width: 992px) {
    .title-font {
        font-size: 5vw;
    }
    .background {
        background-image: url(../images/epoxy-art-bright-long.jpeg);
        min-height: 1100px;
    }
    .about-cards {
        padding-top: 50px;
    }
    .custom-cards {
        width: 490px;
        font-size: 1rem;
        height: 800px;
    }
    #why-us {
        max-height: none;
    }
}

@media (min-width: 1800px) {
    .title-font {
        font-size: 4vw;
    }

    .background {
        background-image: url(../images/epoxy-art-desktop.jpeg);
        min-height: 1350px;
    }
}
